@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background-color:#007ec6;
    text-align:center;
}

li.error, h1 {
    color: white !important;
}

h1 {
    font-weight: bold;
    text-align: center;
}

